/.jiri
#TODO(nlacasse): Get rid of .v23 below once v23->jiri transition is complete.
/build
/clients/shell/credentials
/clients/shell/go/bin
/clients/shell/go/pkg
/clients/web/test/ui/target
/htmlReports
/node_modules
/tmp
/.v23
