/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

.messages {
  overflow-y: auto;
  padding: 8px;
}

.messages .message .timestamp,
.messages .message .sender {
  margin-right: 8px;
  font-weight: 600;
}

.messages .message .timestamp {
  color: var(--color-hint);
}
