/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

.navbar {
  background-color: var(--color-background-dark);
  color: white;
  line-height: 40px;
  padding: 8px 16px;
}

.navbar .title {
  font-size: 24px;
}
